
.experiencia{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 40px 20px;
    margin: 0 auto;
    align-items: center;
}

.experiencia .subtitulo{
    color: #E0E0E0; 
}


.experiencia-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    max-width: 40ch;
    color: #525252;
}
.empresa-titulo{
     font-size: 18px;
}

.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    background: #F5F5F5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.empresa::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background-image: linear-gradient(#701CDA,#A839FF);
    
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-ano{
    position: absolute;
    top: 22px;
    left: -100px;
    width: 80px;
    text-align: right;
    font-size: 0.875rem;
    color: #525252;

}

.empresa-titulo{
    font-size: 1.125rem;
}

.empresa-texto{
    font-size: .875rem;
    color: #525252;
    line-height: 1.4;
}

.habiidades{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 10px;
}

.habiidades li{
    font-size: .875rem;
    line-height: 1.4;
    border-radius: 5px;
    padding: 5px 10px;
    background: white
}

@media( width < 800px){
    .experiencia{
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .experiencia .subtitulo{
        color: black;
    }

    .empresa-ano{
        position: initial;   
        order: 1;
        width: initial;
        text-align: left;
    }

    .empresa-ano::before{
        content: " Ano: ";
    }

    .experiencia-texto{
        font-size: 1.25rem;
    }
}

@media( width < 400px){
    .empresa{
        grid-template-columns: 1fr;
    }
}